.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    animation: slide-up-fade-in 1s ease;
}

.btn-main {
    border: none;
    background-color: var(--button-color);
    color: var(--button-color-text);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-size: 8vmin;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.5s ease;
    margin: 1rem;
    width: 90%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.btn-main:hover {
    transform: translateY(-5px);
}

.logo {
    height: 30vmin;
}

.heading-main {
    font-size: 10vmin;
    color: var(--button-color-text);
}

/* Media query for desktop users */
@media (min-width: 1024px) {
    .container-main {
        height: 100vh;
        /* Full viewport height for desktop */
    }

    .btn-main {
        font-size: 4vmin;
        /* Adjust font size for desktop */
        width: 50%;
        /* Adjust width for desktop */
    }

    .logo {
        height: 20vmin;
        /* Adjust logo size for desktop */
    }

    .heading-main {
        font-size: 6vmin;
        /* Adjust heading size for desktop */
    }
}