.container-nearest-rates {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    animation: slide-up-fade-in 1s ease;
}

.heading-nearest-rates {
    font-size: 8vmin;
    color: var(--text-color);
    flex-shrink: 0;
}

.row-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -3rem;
    flex-shrink: 0;
}

.space {
    margin-right: 1rem;
}

.load-more {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: none;
    background-color: var(--button-color);
    color: var(--button-color-text);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    font-size: 5vmin;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.5s ease, background-color 0.5s ease;
    margin: 1rem;
    width: 40%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.load-more:hover {
    transform: translate(-50%, calc(-50% - 10px));
}