.container-nearest-rates {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    animation: slide-up-fade-in 1s ease;
}

.heading-nearest-rates {
    font-size: 8vmin;
    color: var(--text-color);
    flex-shrink: 0;
}

.row-group-rates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 3vmin;
    color: var(--button-color);
}

.space {
    margin-right: 1rem;
}

.main-select {
    width: 50% !important;
    margin: auto;
    margin-bottom: 2.5rem;
}