.logo {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.main-chart {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slide-up-fade-in 0.5s ease;
}

.main-select {
    width: 50% !important;
}