:root {
  --button-color: #7852DA;
  --button-color-text: #060b26;
  --font-family: 'Roboto', sans-serif;
  --text-color: #03071b;
}

* {
  font-family: var(--font-family);
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 10vmin;
  transition: transform 0.5s ease;
}

.home-button:hover {
  transform: translateY(-5px);
}