:root {
  --logout-color: #f5f5f5;
  --logout-color-text: #060b26;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-logout:hover {
  transform: translateY(-5px);
}

.btn-logout {
  border: none;
  position: absolute;
  bottom: 3rem;
  background-color: var(--logout-color);
  color: var(--logout-color-text);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.5s ease;
}

.btn-insert {
  position: fixed;
  top: 85%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 20%;
  height: 7%;
  background: linear-gradient(var(--insert-button-color1), var(--inser-button-color2));
  cursor: pointer;
  font-weight: bold;
  color: var(--insert-button-text);
  border-radius: 1rem;
  animation: slide-up-fade-in 0.5s ease;
  transition: transform 0.5s ease !important;
  border: none;
  font-size: 1rem;
  box-shadow: 7px 7px 7px 1px var(--box-shadow-color);
}

.btn-insert:hover {
  transform: translateY(-5px);
}

.table-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table {
  width: 90vw;
  height: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: slide-up-fade-in 0.5s ease;
  transition: transform 0.5s ease;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

#currency-table::-webkit-scrollbar,
#partners-table::-webkit-scrollbar,
#location-table::-webkit-scrollbar,
#rate-table::-webkit-scrollbar {
  width: 16px;
}

#currency-table::-webkit-scrollbar-track,
#partners-table::-webkit-scrollbar-track,
#location-table::-webkit-scrollbar-track,
#rate-table::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#currency-table::-webkit-scrollbar-thumb,
#partners-table::-webkit-scrollbar-thumb,
#location-table::-webkit-scrollbar-thumb,
#rate-table::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.actions-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.btn-delete {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgb(231, 50, 50);
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  overflow: hidden;
  transition: .3s;
}

.btn-delete:hover {
  background-color: rgb(245, 207, 207);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: .3s;
}

.delete-svg {
  color: rgb(231, 50, 50);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.btn-delete:focus svg {
  opacity: 0;
  transition: .3s;
}

.delete-message {
  width: 150px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  color: rgb(231, 50, 50);
  font-weight: 600;
  transition: .3s;
  margin: 0;
}

.btn-delete:focus {
  width: 150px;
  height: 50px;
  transition: .3s;
}

.btn-delete:focus span {
  opacity: 1;
  transition: .3s;
}

.btn-update {
  margin-right: 10px;
}

.toast-message {
  z-index: 9999;
}